.LocationList {
  width: 100%;
  min-width: 200pt;
  margin: 0px;
  padding: 0px;
  background-color: #222;
  list-style: none;
}

.LocationList li {
  width: 100%;
  text-align: left;
  color: white;
  padding: 5pt;
  margin: 0px;
  border: 1px solid grey;
}

.LocationList li:hover {
  background-color: #444;
  cursor: pointer;
}

.LocationList div.tags {
    color: grey;
    font-size: 10pt;
}
