.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #222;
  padding: 1px;
  color: white;
  height: 25pt;
}

.App-title {
  margin: 2pt;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-wrap: wrap;
}

#map-section {
  width: 100%;
}

#location-list-section {
  width: 100%;
}

@media screen and (max-width: 599pt) {
  .LocalMap {
    height: 200px;
  }
}

@media screen and (min-width: 600pt) {
  #map-section {
    width: 70%;
    height: 100%;
    flex-basis: 70%;
  }

  #location-list-section {
    width: 30%;
    flex-basis: 30%;
  }

  .MapContainer {
    height: 800px;
  }
}
